.DashboardDiv{
    padding: 2%;
    background-color: #DDDDDD;
    width: 100%;

}

.Dashboardinside{
   display: flex;
}

.cardssecDiv{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
   gap: 50px;
}

.btmsecDiv{
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;
}